{% extends "base.html" %}
{% load static%}

{% block titulo %} Iniciar sesión {% endblock %}
{% block nav%}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #7f7fd5;">
    <a class="navbar-brand" href="{% url 'index'%}">Temperatura</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login'%}">Iniciar Sesión</a>
            </li>
            

        </ul>
    </div>
</nav>
{% endblock %}


{% block contenido %}

<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="card">
            <div class="card-header text-center">
                <img src="{% static 'img/user.png'%}" width="50%" height="50%" alt="usuario">
            </div>
            <div class="card-body text center">

                <div class="form-group">
                    <label for="">Correo</label>
                    <input type="email" class="form-control" name="correo" id="" aria-describedby="helpId"
                        placeholder="usuario@gmail.com" required>
                </div>

                <div class="form-group">
                    <label for="">Contraseña</label>
                    <input type="password" class="form-control" name="contraseña" id="" aria-describedby="helpId"
                        placeholder="" required>
                </div>
                <center>
                    <input name="" id="" class="btn btn-primary" type="submit" value="iniciar sesión">
                    <a name="" id="" class="btn btn-danger" href="{% url 'index'%}" role="button">Cancelar</a>
                </center>
                {%if msg%}
                <br>
                <div class="alert alert-danger text-center" role="alert">
                    {{msg}}
                </div>
                {%endif%}

            </div>

        </div>
    </form>
</div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>


{%endblock%}