{% extends "base.html" %}

{% block titulo %} Grupos {% endblock %}
{%block nav%}
{%include "nav-direc.html"%}
{%endblock%}


{% block contenido %}
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <div class="card ">
        <div class="card-header">
            <a name="" id="" class="btn btn-success" href="{%url 'crear_grupo'%}" role="button">Agregar grupo</a>
        </div>
        <div class="card-body text-center">
            <h2>Listado de grupos</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Grado</th>
                            <th>Grupo</th>
                            <th>Tutor</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for grupo in grupos%}
                        <tr>
                            <td>{{grupo.grado}}</td>
                            <td>{{grupo.grupo}}</td>
                            <td>{{grupo.tutor}}</td>
                            <td>
                                <a name="" id="" class="btn btn-primary" href="{% url 'editar_grupo' grupo.id%}"
                                    role="button">Ediar grupo</a>
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>


{% endblock%}